<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo animate__animated animate__slideInDown"> 
        <a routerLink="home">{{infoPaginaService.info.Titulo}}<sup>tm</sup>
        </a>
      </h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">

          <li routerLinkActive="active" class="rk-menu__item animate__animated animate__bounce">
            <a routerLink="home" class="rk-menu__link ">Inicio</a>
          </li>

          <li routerLinkActive="active"  class="rk-menu__item animate__animated animate__bounce">
            <a routerLink="about" class="rk-menu__link">Sobre Nosotros</a>
          </li>
        </ul>


        <div class="rk-search animate__animated animate__bounce">
          <input type="text" 
                 (keyup.enter)="buscarProducto( txtBuscar.value )"
                 placeholder="Buscar..." 
                 id="urku-search" 
                 class="rk-search-field "
                 #txtBuscar>
          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>

        
      </nav>
    </div>
  </header>