
    <div class="ae-grid au-xs-ta-center au-mb-4 animate__animated animate__swing">

      <div *ngFor="let persona of infoService.equipo" class="ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="persona.Url" alt="" class="au-mb-3">
        <h5 class="ae-u-bolder au-mt-2">{{ persona.Nombre }}</h5>
        <p class="ae-u-bolder au-mb-3">{{ persona.Subtitulo }}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">{{ persona.Frase }}</p>
        <a target="_blank" href="http://Twitter.com/ {{ persona.Twitter }}" class="ae-u-bolder au-underline">{{ persona.Twitter }}</a>
      </div>

    </div>
    <div class="ae-grid au-pt-2 ">
      <div class="ae-grid__item item-lg-8 item-lg--offset-2">
        <h4 class="ae-u-bolder ">Frase Ejemplar</h4>
        <p>Aquellos que tienen el privilegio de saber, tienen la obligación de actuar.</p>
      </div>
    </div>
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Acerda de Nosotros</h6>
        <p class="au-lh-3">En este portafolio queremos enseñar como portal de publicidad acerca de nosotros, que se pueda brindar una ayuda educativa donde no solo mostrar es la clave, sino crear.</p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nuestra Misión</h6>
        <p class="au-lh-3">El diseño no es solo como se ve o se siente, sino como FUNCIONA </p>
      </div>
      <div class="ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Nuestros Clientes</h6>
        <p class="au-lh-3">Tener clientes, es tener familia, por eso cuidamos de ellos a simple vista de lo que pueden ver, asi que hemos creado este portafolio para que les atraiga y les guste.</p>
      </div>
    </div>
    <p class="au-flex au-pt-4 group-buttons"><a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Vistazo a Portafolio<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></a></p>

