<section *ngIf= "producto" class="ae-container-fluid ae-container-fluid--full">
    <header [ngStyle]="{'background-image': 'url(assets/productos/'+ id +'/main.jpg)'}"
    class="rk-portfolio-cover  item-inside-1">
      <div class="item-inside__meta ">
        <h1 class="ae-u-bolder rk-portfolio-title ">{{ producto.producto }}</h1>
        <p class="ae-theta rk-portfolio-category ">{{ producto.categoria }}</p>
      </div>
    </header>
    <div class="ae-container-fluid">
      <div class="ae-grid ae-grid--collapse rk-portfolio-info ">
        <div class="ae-grid__item item-lg-8 item-sm--center au-xs-ta-center au-lg-ta-left">
          <h2 class="rk-portfolio-inner-title ">{{ producto.subtitulo1 }}</h2>
        </div>
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right rk-portfolio-details">
          <p class="rk-portfolio-inner-client ">
            <span class="ae-lambda">Client: </span>
            <span class="ae-u-bolder">Usuario Unknown</span>
          </p>
          <p class="au-underline rk-portfolio-inner-website ">
            <a href="#0" class="ae-kappa">www.agencydesign.com</a></p>
          <p class="ae-kappa ae-u-bold rk-portfolio-inner-date ">{{ anio }}</p>
        </div>
      </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">{{ producto.subtitulo1 }}</h4>
          <p class="ae-eta">{{ producto.desc1 }}</p>
        </div>
        <div class="ae-grid__item item-lg-6 item-lg--offset-1">
          <img src="assets/productos/{{ id }}/pic-1.jpg" alt="Urku Portfolio">
        </div>
      </div>
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg-8">
          <img src="assets/productos/{{ id }}/pic-2.jpg" alt="Urku Portfolio">
        </div>
        <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
          <p>{{ producto.desc2 }}</p>
          <p class="ae-u-bolder">{{ producto.subtitulo2 }}</p>
        </div>
      </div>
  </div>
</section>
